/* Purple Team: D. Bonis, R. Duvall, M. Guthman, O.Tsolmon */

/* Author: O.Tsolmon
Date: 10/05/2023 */

html {
	background-color: #ADCCCD;
	align-content: center;
	font-family: 'Quasimoda';
}

html * {
	color: #554D41;
}

body {
	background-color: #ADCCCD;
	align-content: center;
}

body,
html {
	margin: 0px;
	padding: 0px;
}

header {
	background-color: #ADCCCD;
	top: 0;
	padding: 10px;
	height: 110px;
	width: 100%;
}

#logo {
	padding: 20px;
	float: left;
	height: 75px;
	width: 125px;

}

h1 {
	color: #554D41;
	margin-top: 10;
	text-align: left;
	font-family: 'Quasimoda';
	margin-left: 3%;
}

.reservation-summary-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #E7DFD8;
	padding: 100px;
	border-radius: 15px;
    box-shadow: 10px 10px rgb(85,77,65, .40);
	width: 500px;
	margin: 0px auto;

}

.confirmation-container {
	margin-bottom: 20px;
}

.confirmation-box {
	margin-top: 20px;
}

.confirmation-number {
	font-size: inherit;
	font-weight: bold;
	text-align: center;
}

img {
	width: 100%;
	max-width: 470px;
	height: auto;
}

button[type="submit"] {
	display: block;
	margin: 0 auto;
	padding: 0px 90px;
	font-size: 16px;
}

.social-media {
	align-items: center;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.social-media a {
	padding: 20px;
}

footer {
	background-color: #E7DFD8;
	position: fixed;
	bottom: 0;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	height: fit-content;
	width: 100%;
	overflow: hidden;
}

footer p {
	font-family: 'Quasimoda';
	font-size: 15px;
	font-weight: 400;
	float: left;
	display: flex;
	padding: 10px;
	font-style: italic;
}

.copyright {
	display: flex;
	margin-right: 10px;
	margin-top: 35px;
}