/* 
    Dylan Bonis
    9/6/23

    Reservation Form Page Styling
*/
h1{
    margin-left: 3%;
}
.roomSize{
	background-color: #E7DFD8;
	padding: 0 50px;
	border-radius: 15px;
	box-shadow: 0px 0px 10px rgb(85, 77, 65, .40);
	width: 80%;
	margin: 1% auto;
	float: left;
    font-size: x-large;
}


#roomSelection{
    width:100%;
    display:table;
    vertical-align: middle;
    margin-left: 30px;
}


.fullForm{
    background-color: #E7DFD8;
    border-radius: 15px;
    margin-left: 3%;
    height: 100%;
    width: 47%;
    float:left;
}

button[type="submit"]{
    height: 100%;
    float:left;
}


h2{
    margin: 10px;
    display: inline;
    width: 30%;
}

.picker{
    padding: 20px;
    vertical-align: middle;
    text-align: center;
    width: 32%;
    margin: 0 auto;
}

.formTop{
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
}

input[type="date"], select{
    padding: 5px;
    max-width: 100px;
    max-height: 60px;
    font-size: medium;
}


.roomDesc{
    margin-right: 5%;
    width: 45%;
    float: left;
    height: 50%;
}

.likeFigure{
    margin: 2px;
    background-color: #E7DFD8;
    border-radius: 15px;
    width:100%;
    padding: 2%;
    text-align: left;
    display: flex;
}

.likeFigure img{
    width: 20%;
}

.likeFigure li{
    margin-left: 5%;
    align-items: right;
    font-size: x-large;
    width: 100%;
}


.roomPrice{
    float: left;
    display: flex;
    width: 50%;
}
