/* Purple Team: D. Bonis, R. Duvall, M. Guthman, O.Tsolmon */

/* Author: M.Guthman
Date: 09/13/2023 */


html {
	background-color: #ADCCCD;
	align-content: center;
	font-family: 'Quasimoda';
}

html * {
	color: #554D41;
}

body {
	background-color: #ADCCCD;
	align-content: center;
}

body,
html {
	margin: 0px;
	padding: 0px;
}

header {
	background-color: #ADCCCD;
	position: sticky;
	top: 0;
	padding: 10px;
	height: 110px;
}

#logo {
	padding: 20px;
	float: left;
	height: 75px;
	width: 125px;

}

h1 {
	color: #554D41;
	margin-top: 10;
	text-align: left;
	font-family: 'Quasimoda';
    font-size: 2.0em;

}

.wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 25px;
}

.lookup-form {
    padding: 50px;
    width: 70%;
    font-size: 1.5em;
    margin-right: 100px;
    background-color: #E7DFD8;
    box-shadow: 10px 10px rgb(85,77,65, .40);
}

.lookup-form label { 
    font-size: 1.5em;
    margin-left: 100px;
}

.lookup-form input { 
    font-size: 1.5em;

}

#makeReservation { 
    font-size: .75em;
    float: right;
}

.lookup-information{ 
    padding: 50px;
    width: 70%;
    font-size: 1.5em;
    margin-right: 100px;
    margin-bottom: 200px;
    background-color: #E7DFD8;
    box-shadow: 10px 10px rgb(85,77,65, .40);

}

#lookupError { 
    font-size: 1.0em;
    color: red;
    text-align: center;

}

.reservation-img {
	width: 60%;
    float: left;
}

.reservation-img img { 
    width: 80%;
}
.reservation-details table, tr, td {
	font-size: 1em;
	color: #554D41;
    text-align: left;
    border-spacing: 50px 75px;

}

.reservation-text {
    float: left;
    margin-left: -100px;
}

button {
	float: right;
	padding: 15px 30px;
	font-size: large;
    margin: 10px;
    box-shadow: 3px 3px rgb(85,77,65, .20);

}

.social-media {
	align-items: center;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.social-media a {
	padding: 20px;
}

footer {
	background-color: #E7DFD8;
	position: fixed;
	bottom: 0;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	height: fit-content;
	width: 100%;
	overflow: hidden;
}

footer p {
	font-family: 'Quasimoda';
	font-size: 15px;
	font-weight: 400;
	float: left;
	display: flex;
	padding: 10px;
	font-style: italic;
}

.copyright {
	display: flex;
	margin-right: 10px;
	margin-top: 35px;
}

.navbar {
    font-size: 30px;
    overflow: hidden;
    position: sticky;
    padding-bottom: 5px;
    padding-top: 35px;
    padding-right: 35px;

}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: .75em
}


.nav-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 20px;
}

.nav-grid-item {
    display: grid;
    padding: 5px;
}